
{%load  static %}


<!DOCTYPE html>
<html>
<head>
	<title>Deniz Koc</title>
	<link href="{% static '/css/main.css' %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	
</head>
<body>
    <br>
    <div class="container">
         <div class="row">
           <div class="col-md-3">
             <div class="card card-body h-100 border-secondary" id="profile-wrapper">
             	<img id="profile-pic" src="{% static 'images/0.jpeg' %}" >
             	<hr>
             	<h4> Hi I'm Deniz! </h4>
             	<p>I code and explore the area of information</p>
          </div>
          </div>
          <div class="col-md-9">
	        <div class="card card-body h-100 border-secondary ">
	        	<h4>Intro</h4>
            <hr>
            <p> I met my first computer when I was 10 and I was very fascinated about it.My curiosity about coding and world wide web started. </p>
            <p> I took my major Management Information System in my university session just to be close the fields of computer.</p>
            <p>After formal education I began to maximize my knowledge and still I'm trying to explore.Check out my account below if you like.</p>
            <ul class="social-links">
            	<li><img class="social" src="{% static 'images/linkedin.png' %}"></li>
            	<li><img class="social" src="{% static 'images/youtube.png' %}"></li>
            	<li><img class="social" src="{% static 'images/twitter.png' %}"></li>
            </ul>
	        </div>
          </div>
      </div>
      <br> 
      <div class="row">
         <div class="col-md-6">
           <div class="card card-body h-100 border-right-0">
           	  <h5>My Experience as a MIS student</h5>
           	  <hr>
           	  <p>Yeditepe University - Management Information System</p>
           	  <p>Little django project such as blog,resume,crm to gain much more about django webframework</p>
              <p>A thesis about E-commerce Evolution from beginning to nowadays</p>
              <p> Internship as an assistant at ınformation technology apartment in municipality
              <p>Certificate from BTK academy about python advanced course</p>
              <p>Certificate from BTK academy about linux administration advanced course

              </div>
         </div>
         
         <div class="col-md-6">
	      <div class="card card-body h-100 border-right-0">
	      	<h5>What I know</h5>
	      	<hr>
	      	<p>Python, Django, C++, HTML/CSS,Linux </p>
	      	<p> also working on a basis of linux administration and commands area.I guess it will take time for me to strive in the field but I try to reach my potential almost everyday.Loking for new opportinities to access diverse information about software developing.</p>
	      </div>
            </div>
      </div>
      <br>
      <div class="row">
          <div class="col-md-6">
              <div class="card card-body h-100 border-right-0">
              	<h5> How I learn </h5>
              	<p> I learn by watching reading website contents </p>
              	<p> I can learn just about anything by getting tested myself about my learning process and gain knowledge tearing my subjects about knowledge piece by piece </p>
                </div>
          </div>
    
           <div class="col-md-6">
	       <div class="card card-body h-100 border-right-0" >
	       	<h5>My Short Term goals</h5>
	       <hr>
	       <p>I want to build little projects to get informed about different positions in my field.
	       <p> I would love to enter a position where a can be part of a bigger team learn from other with more experienced than myself</p>
	       </div>
           </div>
       </div>
       <br>
    </div>
    



</body>
</html>